@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.logo
{
    width:  auto;
    height: 142px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -20px;
    display: flex;
    align-items: center;


}
.mainh1
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    
    
}
.topmenu
{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #f5f7f1;
    
    
    border-bottom: 1px solid;
    border-color: rgb(197, 193, 193);
    box-shadow: 0px 0px 25px gray;
    
    
    
}

#b-breakfast
{
    margin-left: 110px;
    margin-bottom: 20px;
}
#b-lunch
{
    margin-left: 154px;
}
#b-snack
{
    margin-left: 108px;
}
#b-dinner
{
    margin-left: 138px;
}


.container
{
    background-color: #f5f7f1;
    height: 100vh;
}
.navkcal
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
   
}
.main-lista
{
    margin-top: 20px;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: rgb(86, 114, 78);
    
}

.button-lista
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #387141; /* Kolor tła przycisku */
    color: white; /* Kolor tekstu */
    font-size: 30px; /* Rozmiar tekstu */
    border: none; /* Usunięcie ramki */
    cursor: pointer; /* Zmiana kursora po najechaniu */
    margin-left: 30px;
    outline: none; /* Usunięcie konturu po kliknięciu */
    
    
    
}


li
{
    padding: 10px;
   
}

.progress-bars {
    margin-top: 20px;
  }
  
  .progress-bar {
    margin-bottom: 10px;
  }
  
  
  
  
  .progress span {
    margin-left: 10px;
  }