@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

#container {
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 350px;
    height: 100%;
}


.mainh1 {
    justify-content: space-between;
    align-items: center;    
    font-size: 48px;
    display: flex;
}

.topmenu {    
    background-color: #f5f7f1; 
    padding: 20px 100px;
    justify-content: center;
    display: flex;
    height: 200px;
    width: 100%;
}

.foodlist {
    border: 2px solid #eceee8;
    background-color: #eceee8;
    word-wrap: break-word;
    border-radius: 20px;
    position: relative; 
    min-height: 52px;
    font-size: 18px;
    width: 100%
    
}

.container {
    background-color: #f5f7f1;    
}

.navkcal {
    min-height: calc(100vh - 350px);
    justify-content: center;
    display: flex;
    height: auto;
}

.main-lista {
    margin-block: 2rem;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    color: #56724e;
    font-weight: 600;
    font-size: 22px;
}

.button-list {
    background-color: #387141; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px; 
    display: flex;
    outline: none; 
    color: #fff;
    border: none; 
    height: 32px;
    width: 32px;
}

.button-list:not(:disabled):hover {
    background-color: #598256;
    cursor: pointer; 
}

.foodcontainer {
    list-style-type: none;
    padding: 1rem;   
}

.foodcontainer li {
    border: 2px solid #598256;
    justify-content: center;
    padding-inline: 1.2rem;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    min-height: 150px;
    display: flex;
    transition: scale 0.2s;
}

.foodcontainer li:hover {
    cursor: pointer;
    scale: .95;
    background-color: #598256;
    color: #f5f7f1
}

.foodlist .choosen {
   position: absolute;
   translate: 10px -50%;
   top: 50%;
}

.foodlist .choosen.hide {
    display: none
}

.foodcontainer li:last-child {
    margin-bottom: 0;
}

.main-meal {
    flex-direction: column;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    gap: 0.5rem;
    width: 400px;
    
}

.meal-container {
    justify-content: space-between;   
    display: flex;
}


.background {
    grid-template-areas: 'progress progress1 progress2 progress3';
    background-color: #f5f7f1;
    min-height: 150px;
    display: grid;
    height: auto;
    width: 100%;
}

.progress-container {
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    color: #1b3d21;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    padding: 30px;
    width: 300px; 
}
  
.progress-label {
    margin-bottom: 3px; 
}
  
.progress-bar {
    border: 1px solid #38714133;
    background-color: #cbd7cb;
    transition: width .3s linear; 
    border-radius: 15px;
    position: relative;
    margin-top: 5px;
    width: 190px; 
    height: 20px; 
}

.progress-bar::before {
    position: absolute;
    background-color: #f00;
    width: var(--width);
    border-radius: 15px;
    height: 100%;
    content: ""
}

.foodcontainer.hidden {
    overflow: hidden;
    height: 32px;
}

.foodcontainer.hidden li {
    visibility: hidden
}
  
.progress-container._1 {
    grid-area: progress
}

.progress-container._2 {
    grid-area: progress1
}

.progress-container._3 {
    grid-area: progress2
}

.progress-container._4 {
    grid-area: progress3
}

