@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#container
{
    background-image: url(/images/background.png);
    

    
}
.logo
{
    width:  auto;
    height: 182px;
    margin: auto;
    margin-top: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    


}
.mainh1
{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    font-size: 48px;
    margin-left: 80px;

    
    
}
.topmenu
{
    
    height: 160px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #f5f7f1; 
}
.foodlist
{
    min-height: 52px;
    border: 2px solid;
    border-radius: 20px;
    background-color: #eceee8;
    width: 260px;
    word-wrap:break-word;
    font-size: 18px;
    
}

#b-breakfast
{
    margin-top: 30px;
    margin-left: 110px;
    margin-bottom: 20px;
    
}
#b-2breakfast
{
    margin-bottom: 20px;
}
#b-lunch
{
    margin-left: 154px;
    margin-bottom: 20px;
}
#b-snack
{
    margin-left: 108px;
    margin-bottom: 20px;
} 
#b-dinner
{
    margin-left: 138px;
    margin-bottom: 20px;
}


.container
{
    background-color: #f5f7f1;
    
}
.navkcal
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 100%;
    margin-bottom: 80px;
   
}
.main-lista
{
    
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: rgb(86, 114, 78);
    
    
}

.button-list
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #387141; 
    color: white; 
    font-size: 30px; 
    border: none; 
    cursor: pointer; 
    margin-left: 30px;
    outline: none; 

    
    
        
}

.button-list:hover
{
    background-color: rgb(89, 130, 86);
    
}



.foodcontainer
{
    padding: 10px;
    margin-left: 37px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}

.main-meal
{
   
   margin-bottom: 30px;
}


.background
{
    background-color: #f5f7f1;
    
    height: 150px;
    
    display: flex;
    align-content: center;
    margin: auto;
    
    
}
.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
    margin: auto;
    padding: 30px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #1b3d21;
    

  }
  
  .progress-label {
    margin-bottom: 3px; 

  }
  
  .progress-bar {
    height: 20px; 
    width: 190px; 
    background-color: #cbd7cb;
    border: 1px solid;
    border-radius: 15px;
    border-color: #38714133;
    margin-top: 5px;
    
  }
  
  
  
  
  